.lkt-menu.type-hidden {
    position: fixed;
    width: 100%;
    background: var(--lkt-menu--container--background);
    transition: var(--lkt-menu--container--transition);
    z-index: 400;
}

.lkt-menu.type-hidden.left-hidden,
.lkt-menu.type-hidden.right-hidden
{
    top: var(--lkt-menu--container--top);
    bottom: var(--lkt-menu--container--bottom);
}

.lkt-menu.type-hidden.bottom-hidden,
.lkt-menu.type-hidden.top-hidden
{
    left: var(--lkt-menu--container--left);
    right: var(--lkt-menu--container--right);
}

.lkt-menu.type-hidden .lkt-menu-main {
    z-index: 402;
}

.lkt-menu.type-hidden .lkt-menu-outside {
    z-index: 401;
}

.lkt-menu.type-hidden .lkt-menu-outside {
    opacity: var(--lkt-menu--outside--hidden--opacity);
    transition: all linear 400ms 100ms;
}

.lkt-menu.type-hidden.is-visible .lkt-menu-outside {
    opacity: var(--lkt-menu--outside--visible--opacity);
}

/**
 * Left hidden
 */
.lkt-menu.type-hidden.left-hidden {
    left: -100%;
}

.lkt-menu.type-hidden.left-hidden.is-visible {
    left: 0;
}

/**
 * Right hidden
 */
.lkt-menu.type-hidden.right-hidden {
    justify-content: flex-end;
    right: -100%;
}

.lkt-menu.type-hidden.right-hidden.is-visible {
    right: 0;
}

/**
 * Bottom hidden
 */
.lkt-menu.type-hidden.bottom-hidden {
    justify-content: flex-end;
    bottom: -100%;
}

.lkt-menu.type-hidden.bottom-hidden.is-visible {
    bottom: var(--lkt-menu--container--bottom);
    top: var(--lkt-menu--container--top);
}

.lkt-menu.type-hidden.bottom-hidden .lkt-menu-main {
    margin-top: auto;
    height: auto;
}

/**
 * Bottom hidden
 */
.lkt-menu.type-hidden.top-hidden {
    top: -100%;
}

.lkt-menu.type-hidden.top-hidden.is-visible {
    top: var(--lkt-menu--container--top);
}